body{

  background: linear-gradient(-20deg, #ad7462, #80eaee, #0af7c3, #23d5ab);
  background-repeat: no-repeat;
  background-size: 100% 200%;
  text-align: center;
  font-family: monospace;
  line-height: 200%;
}


header {
  margin: 5px;
  text-align: center;
  border: solid;
  font-family: fantasy;
  background-color: rgb(26, 156, 85);
  opacity: 0.75;
}

ul {
  list-style-position: inside;
}

#bio {
  padding-bottom: 10px;
  border:solid;
  margin: 5px;
}

#picOfMe {
  border-radius: 50%;
  float: left;
  shape-outside: circle;
}

#edu {
  border: solid;
  margin: 5px;
}

#exp {
  border: solid;
  margin: 5px;
}

#goals {
  border: solid;
  margin: 5px;
}

#favRocks {
  border: solid;
  margin: 5px;
}


/* Next two styles are for sticky header, the sticky class is created in JS and applied to the header when the browser scrolls far enough, the information was found at W3 School's page on sticky headers. */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}